

<div class="repo-card p-3 mb-3">
  <a href="https://github.com/{{ item.repo }}" class="text-decoration-none text-body">
    <h5 class="repo-name mb-1">
      <i class="fab fa-github mr-1"></i>
      <strong>{{ item.owner }}</strong>/<span>{{ item.name }}</span>
    </h5>
    <p class="repo-description text-muted mb-0">{{ item.description }}</p>
  </a>
</div>